@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}

.flaticon-arrow:before { content: "\f100"; }
.flaticon-arrow-1:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-arrows-1:before { content: "\f103"; }
.flaticon-arrows-10:before { content: "\f104"; }
.flaticon-arrows-11:before { content: "\f105"; }
.flaticon-arrows-12:before { content: "\f106"; }
.flaticon-arrows-13:before { content: "\f107"; }
.flaticon-arrows-14:before { content: "\f108"; }
.flaticon-arrows-15:before { content: "\f109"; }
.flaticon-arrows-16:before { content: "\f10a"; }
.flaticon-arrows-17:before { content: "\f10b"; }
.flaticon-arrows-18:before { content: "\f10c"; }
.flaticon-arrows-19:before { content: "\f10d"; }
.flaticon-arrows-2:before { content: "\f10e"; }
.flaticon-arrows-20:before { content: "\f10f"; }
.flaticon-arrows-21:before { content: "\f110"; }
.flaticon-arrows-22:before { content: "\f111"; }
.flaticon-arrows-23:before { content: "\f112"; }
.flaticon-arrows-24:before { content: "\f113"; }
.flaticon-arrows-25:before { content: "\f114"; }
.flaticon-arrows-26:before { content: "\f115"; }
.flaticon-arrows-27:before { content: "\f116"; }
.flaticon-arrows-28:before { content: "\f117"; }
.flaticon-arrows-29:before { content: "\f118"; }
.flaticon-arrows-3:before { content: "\f119"; }
.flaticon-arrows-30:before { content: "\f11a"; }
.flaticon-arrows-31:before { content: "\f11b"; }
.flaticon-arrows-4:before { content: "\f11c"; }
.flaticon-arrows-5:before { content: "\f11d"; }
.flaticon-arrows-6:before { content: "\f11e"; }
.flaticon-arrows-7:before { content: "\f11f"; }
.flaticon-arrows-8:before { content: "\f120"; }
.flaticon-arrows-9:before { content: "\f121"; }
.flaticon-avatar:before { content: "\f122"; }
.flaticon-back:before { content: "\f123"; }
.flaticon-balloon:before { content: "\f124"; }
.flaticon-bars:before { content: "\f125"; }
.flaticon-black:before { content: "\f126"; }
.flaticon-briefcase:before { content: "\f127"; }
.flaticon-briefcase-1:before { content: "\f128"; }
.flaticon-briefcase-2:before { content: "\f129"; }
.flaticon-building:before { content: "\f12a"; }
.flaticon-buildings:before { content: "\f12b"; }
.flaticon-buildings-1:before { content: "\f12c"; }
.flaticon-business:before { content: "\f12d"; }
.flaticon-business-1:before { content: "\f12e"; }
.flaticon-business-10:before { content: "\f12f"; }
.flaticon-business-11:before { content: "\f130"; }
.flaticon-business-12:before { content: "\f131"; }
.flaticon-business-13:before { content: "\f132"; }
.flaticon-business-2:before { content: "\f133"; }
.flaticon-business-3:before { content: "\f134"; }
.flaticon-business-4:before { content: "\f135"; }
.flaticon-business-6:before { content: "\f136"; }
.flaticon-business-7:before { content: "\f137"; }
.flaticon-business-8:before { content: "\f138"; }
.flaticon-business-9:before { content: "\f139"; }
.flaticon-can:before { content: "\f13a"; }
.flaticon-can-1:before { content: "\f13b"; }
.flaticon-case:before { content: "\f13c"; }
.flaticon-check:before { content: "\f13d"; }
.flaticon-check-1:before { content: "\f13e"; }
.flaticon-check-2:before { content: "\f13f"; }
.flaticon-circle:before { content: "\f140"; }
.flaticon-circle-1:before { content: "\f141"; }
.flaticon-circle-2:before { content: "\f142"; }
.flaticon-circle-3:before { content: "\f143"; }
.flaticon-circle-4:before { content: "\f144"; }
.flaticon-clock:before { content: "\f145"; }
.flaticon-clock-1:before { content: "\f146"; }
.flaticon-clock-2:before { content: "\f147"; }
.flaticon-clock-3:before { content: "\f148"; }
.flaticon-close:before { content: "\f149"; }
.flaticon-close-1:before { content: "\f14a"; }
.flaticon-close-2:before { content: "\f14b"; }
.flaticon-close-3:before { content: "\f14c"; }
.flaticon-close-4:before { content: "\f14d"; }
.flaticon-cogwheel:before { content: "\f14e"; }
.flaticon-cogwheel-1:before { content: "\f14f"; }
.flaticon-coins:before { content: "\f150"; }
.flaticon-commerce:before { content: "\f151"; }
.flaticon-commerce-1:before { content: "\f152"; }
.flaticon-cross:before { content: "\f153"; }
.flaticon-cross-1:before { content: "\f154"; }
.flaticon-cross-2:before { content: "\f155"; }
.flaticon-cross-3:before { content: "\f156"; }
.flaticon-cup:before { content: "\f157"; }
.flaticon-cup-1:before { content: "\f158"; }
.flaticon-cup-2:before { content: "\f159"; }
.flaticon-favorite:before { content: "\f15a"; }
.flaticon-favorite-1:before { content: "\f15b"; }
.flaticon-favorite-2:before { content: "\f15c"; }
.flaticon-favorite-3:before { content: "\f15d"; }
.flaticon-folder:before { content: "\f15e"; }
.flaticon-folder-1:before { content: "\f15f"; }
.flaticon-food:before { content: "\f160"; }
.flaticon-food-1:before { content: "\f161"; }
.flaticon-food-2:before { content: "\f162"; }
.flaticon-food-3:before { content: "\f163"; }
.flaticon-food-4:before { content: "\f164"; }
.flaticon-food-6:before { content: "\f165"; }
.flaticon-gps:before { content: "\f166"; }
.flaticon-graphic:before { content: "\f167"; }
.flaticon-graphic-1:before { content: "\f168"; }
.flaticon-graphic-2:before { content: "\f169"; }
.flaticon-hands:before { content: "\f16a"; }
.flaticon-improvement:before { content: "\f16b"; }
.flaticon-interface:before { content: "\f16c"; }
.flaticon-interface-1:before { content: "\f16d"; }
.flaticon-interface-10:before { content: "\f16e"; }
.flaticon-interface-2:before { content: "\f16f"; }
.flaticon-interface-3:before { content: "\f170"; }
.flaticon-interface-4:before { content: "\f171"; }
.flaticon-interface-5:before { content: "\f172"; }
.flaticon-interface-6:before { content: "\f173"; }
.flaticon-interface-7:before { content: "\f174"; }
.flaticon-interface-8:before { content: "\f175"; }
.flaticon-interface-9:before { content: "\f176"; }
.flaticon-letter:before { content: "\f177"; }
.flaticon-letter-1:before { content: "\f178"; }
.flaticon-letter-2:before { content: "\f179"; }
.flaticon-line:before { content: "\f17a"; }
.flaticon-line-1:before { content: "\f17b"; }
.flaticon-line-2:before { content: "\f17c"; }
.flaticon-line-3:before { content: "\f17d"; }
.flaticon-link:before { content: "\f17e"; }
.flaticon-location:before { content: "\f17f"; }
.flaticon-location-1:before { content: "\f180"; }
.flaticon-location-2:before { content: "\f181"; }
.flaticon-location-3:before { content: "\f182"; }
.flaticon-lock:before { content: "\f183"; }
.flaticon-lock-1:before { content: "\f184"; }
.flaticon-lock-2:before { content: "\f185"; }
.flaticon-lock-3:before { content: "\f186"; }
.flaticon-map:before { content: "\f187"; }
.flaticon-map-1:before { content: "\f188"; }
.flaticon-mark:before { content: "\f189"; }
.flaticon-mark-1:before { content: "\f18a"; }
.flaticon-megaphone:before { content: "\f18b"; }
.flaticon-megaphone-1:before { content: "\f18c"; }
.flaticon-megaphone-2:before { content: "\f18d"; }
.flaticon-money:before { content: "\f18e"; }
.flaticon-money-1:before { content: "\f18f"; }
.flaticon-money-2:before { content: "\f190"; }
.flaticon-money-3:before { content: "\f191"; }
.flaticon-multimedia:before { content: "\f192"; }
.flaticon-multimedia-1:before { content: "\f193"; }
.flaticon-multimedia-2:before { content: "\f194"; }
.flaticon-multimedia-3:before { content: "\f195"; }
.flaticon-multimedia-4:before { content: "\f196"; }
.flaticon-multimedia-5:before { content: "\f197"; }
.flaticon-multimedia-6:before { content: "\f198"; }
.flaticon-multimedia-7:before { content: "\f199"; }
.flaticon-multimedia-8:before { content: "\f19a"; }
.flaticon-nature:before { content: "\f19b"; }
.flaticon-note:before { content: "\f19c"; }
.flaticon-note-1:before { content: "\f19d"; }
.flaticon-note-2:before { content: "\f19e"; }
.flaticon-note-3:before { content: "\f19f"; }
.flaticon-pen:before { content: "\f1a0"; }
.flaticon-people:before { content: "\f1a1"; }
.flaticon-people-1:before { content: "\f1a2"; }
.flaticon-people-2:before { content: "\f1a3"; }
.flaticon-phone:before { content: "\f1a4"; }
.flaticon-power:before { content: "\f1a5"; }
.flaticon-power-1:before { content: "\f1a6"; }
.flaticon-power-2:before { content: "\f1a7"; }
.flaticon-power-3:before { content: "\f1a8"; }
.flaticon-round:before { content: "\f1a9"; }
.flaticon-search:before { content: "\f1aa"; }
.flaticon-search-1:before { content: "\f1ab"; }
.flaticon-search-2:before { content: "\f1ac"; }
.flaticon-search-3:before { content: "\f1ad"; }
.flaticon-search-4:before { content: "\f1ae"; }
.flaticon-security:before { content: "\f1af"; }
.flaticon-security-1:before { content: "\f1b0"; }
.flaticon-settings:before { content: "\f1b1"; }
.flaticon-shape:before { content: "\f1b2"; }
.flaticon-shapes:before { content: "\f1b3"; }
.flaticon-shapes-1:before { content: "\f1b4"; }
.flaticon-shapes-2:before { content: "\f1b5"; }
.flaticon-shapes-3:before { content: "\f1b6"; }
.flaticon-sheet:before { content: "\f1b7"; }
.flaticon-sign:before { content: "\f1b8"; }
.flaticon-signs:before { content: "\f1b9"; }
.flaticon-signs-1:before { content: "\f1ba"; }
.flaticon-signs-2:before { content: "\f1bb"; }
.flaticon-signs-3:before { content: "\f1bc"; }
.flaticon-signs-4:before { content: "\f1bd"; }
.flaticon-signs-5:before { content: "\f1be"; }
.flaticon-social:before { content: "\f1bf"; }
.flaticon-social-1:before { content: "\f1c0"; }
.flaticon-social-2:before { content: "\f1c1"; }
.flaticon-social-3:before { content: "\f1c2"; }
.flaticon-social-4:before { content: "\f1c3"; }
.flaticon-social-5:before { content: "\f1c4"; }
.flaticon-squares:before { content: "\f1c5"; }
.flaticon-squares-1:before { content: "\f1c6"; }
.flaticon-symbol:before { content: "\f1c7"; }
.flaticon-symbol-1:before { content: "\f1c8"; }
.flaticon-symbol-2:before { content: "\f1c9"; }
.flaticon-target:before { content: "\f1ca"; }
.flaticon-target-1:before { content: "\f1cb"; }
.flaticon-technology:before { content: "\f1cc"; }
.flaticon-technology-1:before { content: "\f1cd"; }
.flaticon-technology-10:before { content: "\f1ce"; }
.flaticon-technology-11:before { content: "\f1cf"; }
.flaticon-technology-12:before { content: "\f1d0"; }
.flaticon-technology-13:before { content: "\f1d1"; }
.flaticon-technology-14:before { content: "\f1d2"; }
.flaticon-technology-15:before { content: "\f1d3"; }
.flaticon-technology-16:before { content: "\f1d4"; }
.flaticon-technology-17:before { content: "\f1d5"; }
.flaticon-technology-18:before { content: "\f1d6"; }
.flaticon-technology-19:before { content: "\f1d7"; }
.flaticon-technology-20:before { content: "\f1d8"; }
.flaticon-technology-21:before { content: "\f1d9"; }
.flaticon-technology-22:before { content: "\f1da"; }
.flaticon-technology-3:before { content: "\f1db"; }
.flaticon-technology-4:before { content: "\f1dc"; }
.flaticon-technology-5:before { content: "\f1dd"; }
.flaticon-technology-6:before { content: "\f1de"; }
.flaticon-technology-7:before { content: "\f1df"; }
.flaticon-technology-8:before { content: "\f1e0"; }
.flaticon-technology-9:before { content: "\f1e1"; }
.flaticon-telephone:before { content: "\f1e2"; }
.flaticon-telephone-1:before { content: "\f1e3"; }
.flaticon-three:before { content: "\f1e4"; }
.flaticon-three-1:before { content: "\f1e5"; }
.flaticon-time:before { content: "\f1e6"; }
.flaticon-time-1:before { content: "\f1e7"; }
.flaticon-tool:before { content: "\f1e8"; }
.flaticon-tool-1:before { content: "\f1e9"; }
.flaticon-tool-2:before { content: "\f1ea"; }
.flaticon-tool-3:before { content: "\f1eb"; }
.flaticon-tool-4:before { content: "\f1ec"; }
.flaticon-tool-5:before { content: "\f1ed"; }
.flaticon-transport:before { content: "\f1ee"; }
.flaticon-transport-1:before { content: "\f1ef"; }
.flaticon-transport-2:before { content: "\f1f0"; }
.flaticon-travel:before { content: "\f1f1"; }
.flaticon-travel-1:before { content: "\f1f2"; }
.flaticon-up-arrow:before { content: "\f1f3"; }
.flaticon-up-arrow-1:before { content: "\f1f4"; }
.flaticon-weapon:before { content: "\f1f5"; }